<div class="view-container" fxLayout="row" fxLayoutAlign="center start">
    <mat-card fxFlex="90">
        <mat-card-content fxLayout="column">
            <h2>#Project name</h2>
            <mat-tab-group>
                <mat-tab label="HTML">
                    <editor [options]="{language: 'html'}"></editor>
                </mat-tab>
                <mat-tab label="Javascript">
                    <editor [options]="{language: 'javascript'}"></editor>
                </mat-tab>
                <mat-tab label="CSS">
                    <editor [options]="{language: 'css'}"></editor>
                </mat-tab>
                <mat-tab label="Preview">Content 4</mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button (click)="onSubmit()" color="primary" mat-raised-button><strong>LOGIN</strong></button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
</div>